* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #222;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}
.card {
  background: linear-gradient(135deg, #00feba, #5b548a);
  padding: 40px 30px;
  width: 90%;
  max-width: 470px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.search input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 50px;
}
.search img {
  width: 24px;
}
.search button {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: white;
}
.search {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.weather {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temp {
  text-align: center;
  font-size: 4.5rem;
}
.city {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 100;
}
.detail {
  padding: 0px 30px;
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.detail .col > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detail .col {
  display: flex;
  align-items: end;
  gap: 20px;
}
.detail .col img {
  width: 40px;
}
.error {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 520px) {
  .search input {
    font-size: 16px;
    width: 270px;
    gap: 10px;
  }
  .card {
    padding: 20px 10px;
  }
}
